.contact
{
 position: relative;
 background-color: #10131a;
 min-height: 70vh;

}
.shell 
{
  
    color: #fff;
    
	padding: 20px 20px;
	box-sizing: border-box;
    
}
.shell div
{

    margin: auto;
    width: 50%;
    border-bottom: 1px solid #66fcf1;
    padding: 10px;
}
.shell h3
{
    width: auto;
	font-size: 70px;
	text-align: center;
	text-transform: uppercase;	
	
	font-weight: 200;
}
.shell form
{
  max-width: 400px;
  margin: 10px auto 50px;
}
input , textarea 
{
 border:3px solid #10131a;
 width: 100%;
 box-sizing: border-box;
 
}

input[type="submit"]
{
	background-color: #359173;
	color:#fff;
	font-size:18px;
	width: 33%;
}
textarea
{
	height: 10em;
}
input:focus , textarea:focus
{
	outline: none;
	border-color:#17a2b8;
}
label texarea
{
	border:3px
}
fieldset.contact-info label
{
 width: 50%;
 padding-right: 10px;
 float: left;
}
.shell label 
{
	display: block;
	margin-bottom: 20px;
}


.shell label span {
	display: block;
}


.shell .logo
{
	margin-top: 30px;
	padding-bottom: 12px;
	border-bottom: 1px solid #fff;
}
.footer nav
{
	margin: 0;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
	background-color: #3c4643;
	display: flex;
	justify-content: center;

}
.footer nav li{

	list-style: none;
    margin: 10px;
	
}
.footer nav li span{
	color:#fff;
	font-size:20px;
}
@media screen and (max-width: 800px)
{
	.wrapper
	{
		overflow: hidden;
	}


}
@media screen and (max-width: 770px)
{
	.profile
	{
		position: relative;
	}
	.face-lockup 
	{
    text-align: center;
    margin-top: 200px;
    }
   .face-img  {
   	position: absolute;
   	top: 40px;
   	left: 40%;
   }
    .face-img img {
      width: 150px;
      height: 150px;
    }

  .icon-seo, .icon-layout, .icon-coding, .icon-marketing {
    display: inline-block;
   
     }


}
@media screen and (max-width: 650px)
{
  
  .title figure img
  {
  	width: 80px;
  }

  .title h1
  {
	 font-size: 40px;
	 text-align: center;
	 border: 2px solid white;
	 margin: 0 50px;
	
	}
	.face-lockup
	{
		flex-wrap: wrap;
	}
	.skill-lockup
	{
		margin-left: 50px;
	}
	.works h3
	{
		font-size: 20px;
	}
	.works h4
	{
		font-size: 28px;
	}
	
	.contact h3 
	{
		font-size: 28px;
	}
  .shell .correo strong
	{
		font-size: 15px;
	}

}
@media screen and ( max-width: 500px)
{

	.title figure
	{
		height: 100px;
	}
	.title h1
	{
  
     font-size: 30px;
	}
	h3.r
	{
		font-size: 15px;
	}
	.face-img  {
   	top: 50px;
   	left: 30%;
   }
   .shell .logo {
   	width: 80px;
   }


}
